@font-face {
    font-family: "TildaSans";
    font-weight: 300;
    src: url("../fonts/TildaSans-Light.ttf");
}

@font-face {
    font-family: "TildaSans";
    font-weight: 400;
    src: url("../fonts/TildaSans-Regular.ttf");
}

@font-face {
    font-family: "TildaSans";
    font-weight: 500;
    src: url("../fonts/TildaSans-Medium.ttf");
}

@font-face {
    font-family: "TildaSans";
    font-weight: 600;
    src: url("../fonts/TildaSans-Semibold.ttf");
}

@font-face {
    font-family: "TildaSans";
    font-weight: 700;
    src: url("../fonts/TildaSans-Bold.ttf");
}

@font-face {
    font-family: "TildaSans";
    font-weight: 900;
    src: url("../fonts/TildaSans-Black.ttf");
}

/* * {

} */

:root {
    --font-tildasans: "TildaSans";
    --color-black: #071E2F;
    --color-white: #FFFFFF;
    --color-secondary: #9AA1A8;
    --color-red: #d5232a;
    --color-green: #198754;
    --color-grey: #EEF2F5;
    --color-dark-grey: #394B59;
    --color-yellow: #ffc107;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

html, body {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-tildasans);
    color: var(--color-black);
    font-size: 22px;
}

.no-scroll {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: var(--color-black);
}

.c-red {
    color: var(--color-red);
}

.logo {
    font-size: 3rem;
    font-weight: 500;
}

.login {
    font-size: 18px;
}

.main {
    padding-bottom: 20px;
}


.container {
    padding: 0 40px;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.main-action {
    min-height: 100dvh;
    padding-bottom: 20vh;
}
.secondary-action {
    min-height: 100dvh;
}

.secondary-action.header-action {
    min-height: calc(100dvh - 200px);
}

.action-group {
    max-width: 320px;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
}

h3 {
    max-width: 500px;
}

.input {
    font-size: 20px;
    padding: 12px 16px;
    outline: none;
    border-radius: 0.5rem;
    border: 1px solid var(--color-black);
}
.input.empty {
    border: 2px solid #bb2429;
}
.modal-dialog {
    width: 100%;
    max-width: 900px;
}

.col-flex-4 {
    max-width: 752px;
    flex-wrap: wrap;
    justify-content: center;
}

.modal .side-img {
    object-fit: contain;
}

.main-item-image {
    width: 350px;
    min-width: 350px;
    height: 350px;
    border-radius: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-item-image img {
    width: 100%;
}

.bg-green {
    background-color: #C8665E;
    color: var(--color-white);
}
.bg-yellow {
    background-color: #B32221;
    color: var(--color-white);
}
.bg-red {
    background-color: #581F16;
    color: var(--color-white);
}

.main-item-image img.larger {
    width: 600px;
}

.diff {
    font-size: 16px;
    white-space: nowrap;
}

.avatar-card {
    border: 2px solid transparent;
    transition: 260ms ease;
    border-radius: 200px;
    overflow: hidden;
    width: 200px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.adventure-card {
    color: var(--color-black);
    cursor: pointer;
}

.adventure-image {
    width: 150px;
    height: 150px;
    min-width: 150px;
    border-radius: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.points {
    text-align: center;
    line-height: 66px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.points-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 70px;
    overflow: hidden;
    border: none !important;
}

.points-icon img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.btn-toggles.easy .adventure-card,
.btn-toggles.medium .adventure-card,
.btn-toggles.hard .adventure-card,
.btn-toggles.keyword .adventure-card {
    display: none !important;
}

.btn-toggles.easy .adventure-card:has(.bg-green).filter-enable,
.btn-toggles.medium .adventure-card:has(.bg-yellow).filter-enable,
.btn-toggles.hard .adventure-card:has(.bg-red).filter-enable,
.btn-toggles.easy.keyword .adventure-card:has(.bg-green).filter-enable,
.btn-toggles.medium.keyword .adventure-card:has(.bg-yellow).filter-enable,
.btn-toggles.hard.keyword .adventure-card:has(.bg-red).filter-enable {
    display: flex !important;
}

.diff-buttons .btn.btn-success.active {
    box-shadow: 0 8px 14px -4px #C8665E;
}
.diff-buttons .btn.btn-warning.active {
    box-shadow: 0 8px 14px -4px #B32221;
}
.diff-buttons .btn.btn-danger.active {
    box-shadow: 0 8px 14px -4px #581F16;
}


.diff-buttons .btn.btn-success {
    background-color:  #C8665E;
    color: var(--color-white);
    font-weight: 700;
    border: none;
}
.diff-buttons .btn.btn-warning {
    background-color: #B32221;
    color: var(--color-white);
    font-weight: 700;
    border: none;
}
.diff-buttons .btn.btn-danger {
    background-color: #581F16;
    color: var(--color-white);
    font-weight: 700;
    border: none;
}

.adventure-image img {
    width: auto;
    min-width: auto;
    height: 150px;
}

.card {
    overflow: hidden;
    width: 170px;
    height: 220px;
}
.card .card-image {
    width: 180px;
    height: 220px;
    border-radius: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .card-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card .card-image.square {
    border-radius: 4px 4px 0 0;
}
.card .card-image img {
    width: 260px;
}


.card .btn {
    font-weight: 700;
    position: absolute;
    bottom: 20px;
    background-color: var(--color-white);
}

.avatar-card img {
    object-fit: cover;
    width: 200px;
}
.avatar-card img.large {
    object-fit: cover;
    width: 250px;
}

.avatar-card.active {
    border: 2px solid #198754;
}

.hero-overflow {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 200px;
}
.hero-overflow img {
    object-fit: cover;
    width: 400px;
}

.btn img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.btn .preview {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    position: absolute;
    top: 4px;
    left: 16px;
    overflow: hidden;
    background-color: var(--color-white);
}

.hero-wrapper {
    overflow: hidden;
    border-radius: 1rem;
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
}


.hero-wrapper.hero-row {
    width: 100%;
    max-width: 500px;
    height: 200px;
    gap: 20px;
    overflow: visible;
}

.hero-wrapper.hero-row .hero-img {
    max-width: 140px;
    width: 100%;
    height: 140px;
    border-radius: 140px;
    object-fit: cover;
}
.hero-wrapper.hero-row .hero-img.centere {
    max-width: 200px;
    width: 150%;
    height: 200px;
    max-height: 200px;
    border-radius: 200px;
    object-fit: cover;
}
img.que {
    width: 100%;
    max-width: 500px;
    max-height: 220px;
    height: auto;
    object-fit: contain;
}

.hero-img {
    max-height: 200px;
    object-fit: contain;
}
.hero-img.large {
    max-height: 350px;
    object-fit: contain;
}
.text-wrapper {
    max-width: 700px;
    width: 100%;
    padding: 10px 30px;
}
.image-main{
    width: 100%;
    max-width: 350px;
    margin: 10px auto 30px;
}
.text-wrapper img {
    height: 240px;
    width: auto;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.text-wrapper img.h-item {
    height: auto;
    max-height: 600px;
}

.preloader {
    width: 100vw;
    height: 100dvh;
    position: fixed;
    background-color: var(--color-white);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 500ms ease-in-out;
}

.preloader.hide {
    pointer-events: none;
    opacity: 0;
}

.preloader img {
    width: 100%;
    height: 100%;
    max-width: 100vw;
    max-height: 100dvh;
    object-fit: contain;
}

.preloader .mob {
    display: none;
}

.flex-img {
    width: 60% !important;
    height: auto !important;
    border-radius: 10px;
}

.btn-next {
    max-width: 400px;
}

input.d-none + label {
    padding: 6px 20px;
    width: 100%;
    max-width: 600px;
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 0.5rem;
}

input.d-none:checked + label {
    background-color: #808080;
    color: var(--color-white);
}

.btn-red {
    background-color: #d5232a;
    color: var(--color-white);
}

.btn-red.large {
    padding: 12px 30px;
}


.dropdown .btn {
    position: relative;
}

.question-text {
    font-size: 30px;
    font-weight: 700;
}

.dropdown-toggle::after {
    vertical-align: none;
    margin: 0;
    position: absolute;
    top: 22px;
    right: 20px;
}

.show.dropdown-toggle::after {
    transform: rotate(180deg);
    top: 20px;
}

.cols-2 {
    grid-template-columns: 1fr 1fr;
    max-width: 500px;
}

.btn.selected {
    background-color: #0d6efd !important;
    color: var(--color-white) !important;
    border: 1px solid transparent !important;
}

.btn-close {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23d5232a'%3E%3Cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3E%3C/svg%3E");
    opacity: 1;
    outline: none !important;
    box-shadow: none !important;
}

.main-img {
    max-width: 880px;
    margin: 0 auto;
    border-radius: 5px;
    width: 100%;
}

.help-btn {
    width: 300px;
    min-width: 300px;
    height: 300px;
    position: relative;
}

.help-btn img {
    width: 300px;
    height: 300px;
}

.title {
    font-weight: 700;
}

.title-img {
    width: 60px;
    height: 60px;
}

.side-img {
    max-width: 250px;
    border-radius: 8px;
}

.search-wrapper {
    width: 100%;
    max-width: 500px;
}

.search-wrapper input {
    padding: 6px 20px;
    outline: none;
    border-radius: 6px;
    width: 100%;
    height: 48px;
}

.search-wrapper .btn {
    height: 48px;
}

.btn-secondary {
    background: rgba(191, 191, 191, 0.3);
    color: var(--color-red);
    border: none;
}

.grid-triple {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.grid-triple .btn-secondary {
    padding: 24px 40px;
    font-size: 20px;
}

.stats-table td,
.stats-table th {
    padding: 8px 16px;
    font-size: 22px;
    border: 1px solid #071E2F;
    text-align: center;
}

.stats-table tr td:first-child,
.stats-table tr th:first-child {
    text-align: left;
    min-width: 60%
}

@media (max-width: 900px) {
    .points-icon img,
    .points-icon {
        width: 40px;
        height: 40px;
    }
    .grid-triple {
        grid-template-columns: 1fr 1fr;
    }
    .points {
        gap: 0px;
        font-size: 16px;
        margin-left: auto;
        margin-right: 30px;
        line-height: 20px;
        flex-direction: column;
    }
    .profile-link img {
        width: 40px;
        height: 40px;
    }
    .profile-link .login {
        display: none;
    }
}

@media (max-width: 700px) {
    .container {
        padding: 0 16px;
    }
    .search-wrapper {
        order: 1;
    }
    .header-mob {
        flex-wrap: wrap;
    }
    .hero-img {
        max-height: 100px;
    }
    .text-wrapper {
        max-width: 700px;
        width: 100%;
        padding: 10px 0px;
    }
    .preloader  {
        align-items: flex-start;
        max-width: 100vw;
        width: 100%;
    }
    .preloader img {
        object-fit: cover;
        max-width: 100vw;
        max-height: 100vh;
    }
    .preloader .desc {
        display: none;
    }
    .preloader .mob {
        display: block;
    }
    body {
        font-size: 18px;
    }
    .adventure-image {
        width: 70px;
        height: 70px;
        min-width: 70px;
    }
    
    .adventure-image img {
        object-fit: cover;
        height: 70px;
    }
    .modal-dialog {
        max-width: 100vw;
        width: 100%;
        padding: 0 16px 0 0;
    }
    .avatar-card {
        width: 140px;
        height: 140px;
    }
    .avatar-card img {        
        width: 264px;
    }
    .avatar-card img.large {        
        width: 150px;
    }
    .grid-triple .btn-secondary {
        padding: 10px 16px;
        font-size: 16px;
    }
    .hero-wrapper.hero-row .hero-img {
        max-width: 80px;
        width: 100%;
        height: 80px;
    }
    .hero-wrapper.hero-row {
        gap: 12px;
    }

    .hero-wrapper.hero-row .hero-img.centere {
        max-width: 150px;
        width: 150%;
        height: 150px;
        max-height: 150px;
    }
}

@media (max-width: 450px) {
    body {
        font-size: 16px;
    }
    .mob-grid {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        gap: 12px !important;
    }
    .card {
        width: 160px;
        height: 205px;
    }
    .logo {
        font-size: 24px;
    }
    .logo-img {
        width: 40px;
        height: 40px;
    }
    h1 {
        font-size: 2.5rem;
    }
    .help-btn {
        width: 240px;
        min-width: 240px;
        height: 240px;
    } 
    .help-btn img {
        width: 100%;
        height: auto;
    }
    input.d-none + label {
        font-size: 20px;
        padding: 5px 25px;
    }

    .col-flex-4 {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        gap: 12px !important;
    }
    .stats-table td,
    .stats-table th {
        padding: 6px 12px;
        font-size: 16px;
    }
}

@media (hover: hover) {    
    .avatar-card:hover {
        border: 2px solid #6c757d44;
    }
    .avatar-card.active:hover {
        border: 2px solid var(--color-green);
    }
    .btn-close:hover {
        opacity: 1;
    }
    .btn-red:hover {
        background-color: #bb2429;
        color: var(--color-white);
    }
    .btn.btn-red:active {
        background-color: #a12125;
        color: var(--color-white);
    }
    .btn.selected:hover,
    .btn.selected:active {
        background-color: #0d6efd !important;
    }

    .btn-secondary:hover,
    .btn-secondary:active {
        background-color: #808080;
        color: var(--color-white);
    }

    .search-wrapper .btn:hover {
        background-color: rgba(191, 191, 191, 0.3);
    }
}

@media (hover: none) {

}
